dn: olcDatabase={1}mdb,cn=config
changetype: modify

replace: olcRootDN
olcRootDN: cn=Manager,dc=palm7,dc=net

replace: olcSuffix
olcSuffix: dc=palm7,dc=net

replace: olcRootPW
olcRootPW: [OLC_ROOT_PW]

